body {
    background-color: #0033A0;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    margin-left: 20px;
}

h1 {
    font-family: 'Space Mono', sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}

h2 {
    font-family: 'Space Mono', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

hr {
    width: auto;
}

li {
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

li:before {
    content: '\2192';
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: -20px;
    margin-right: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 20px;
    
}

ul {
    padding-inline-start: 20px;
}

.btn {
    background-color: #0033A0;
    border: solid 3px #ffffff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: white;
    color: #0033A0;
}

.container1{
    display: flex;
}

.container-left {
    max-width: 800px;
    float:left;
    flex: 2;
}

.container-right{
    float:right;
    flex: 1;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
}

.grid hr {
    width: auto;
}

.inspiration {
    font-family: Tillana;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    font-size: 16px;
    position: fixed;
    top: 50%;
    width: 210px;
}

.inspiration:hover{
    font-size: 0;
}

.inspiration:hover:after{
    content: attr(data-hover);
    font-family: Tillana;
    line-height: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.quote{
    display: flex;
}

.list-bold {
    font-weight: 600;
}

.list-light {
    font-weight: 100;
}

@media only screen and (max-width: 600px) {

    body {
        margin-right: 20px;
    }

    .container-right{
        display: none;
    }

    h1 {
        font-size: 28px;
        line-height: 34px;
    }

    p {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .grid div:first-of-type h4 {
        margin-block-start: 5px;
    }

    header {
        background-color: #0033A0;
        padding-top: 5px;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns:auto;
        grid-column-gap: 0px;
    }
}
